---
# this is an empty front matter
---

<!DOCTYPE html>
<html lang="de">
<head>

  <title>Über mich Lukasz Adam - uxffm.com</title>


{% include header.html %}


<section id="homepage-hero">
	<div class="homepage-wrapper">

	</div>
</section>


{% include nav.html %}


<section id="area1">

	<div class="wrapper-left">

		<h2>Über mich</h2>
		<p>Ich heiße Lukasz Adam und ich designe, programmiere und erstelle Webseiten und erhöhre Traffic mit Hilfe von SEO Marketing. Ich liebe es Probleme in der effektivsten Art und Weise zu lösen und ich liebe es anderen dabei zu helfen, ihre Visionen Online umzusetzen. Sei es mit einer eigenen Webseite, dem Design einer Benutzeroberfläche oder Hilfe bei Problemen mit Online Marketing, WordPress oder der Webentwicklung. Ich bin sicher, ich werde in der Lage sein, auch für Sie die Beste Lösung für Ihr Problem zu finden.
		<br><br>
		Ich liebe es außerdem neue Sprachen zu lernen und neue Dinge zu entdecken. Deshalb arbeite ich viele mit Menschen aus der ganzen Welt zusammen. Ich liebe es Menschen zu treffen die mich inspirieren und ich liebe es andersherum auch, andere Menschen zu inspirieren. Wenn Sie mehr über mich erfahren möchten, schreiben Sie mir gerne eine Mail oder nutzen Sie mein <a href="kontakt">Kontaktformular.</a>
		</p>




	</div>

	<div class="wrapper-right">

		{% include site.html %}

	</div>


</section>




{% include footer.html %}
