---
# this is an empty front matter
---

<!DOCTYPE html>
<html lang="de">
<head>

<title>Webdesign & Blog aus Wiesbaden - vnllab.com</title>


{% include header.html %}



{% include nav.html %}





<section id="hero-null">

	<p class="description">Mein blog.</p>
	<h1>SEO Marketing, Webdesign & mehr.</h1>

</section>



    <section id="blog">
        <div class="blog-wrapper">

          <ul class="blog-list">

            {% for post in site.posts %}




              <li class="post">

								<div class="div">
								<i class="fas fa-clock"></i>
								<time datetime="{{ post.time }}" itemprop="datePublished" title="{{ post.time }}">{{ post.time }}</time>
								</div>

								<div class="div">
								<i class="fas fa-user"></i>
								<span itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person"> <span itemprop="name"> {{ post.author }}</span> </span>
								</div>

								<hr>

								{{ post.excerpt }}




             <a class="more" href="{{ site.baseurl }}{{ post.url }}">mehr..</a>

             </li>
            {% endfor %}
          </ul>




        </div>


<div class="sidebar">

    <aside id="secondary" class="widget-area" role="complementary">

    </aside><!-- #secondary -->

</div>

    </section>











{% include footer.html %}
