---
# this is an empty front matter
---

<!DOCTYPE html>
<html lang="de">
<head>

<title>Schreib mir eine Nachricht - vnllab.com</title>


{% include header.html %}



{% include nav.html %}


<section id="hero-null">

	<p class="description">Meine Kontaktdaten.</p>
	<h1>vnllab.com <span class="thin">I</span> Web Design & SEO</h1>


</section>

<section id="area-kontakt">


<img src="/img/illustration-kontaktseite.png" alt="illustration-menschen-die-eine-nachricht-schreiben" width="350px">

<h2 class="title" style="text-align: center">Ich freue mich auf deine Nachricht!</h2>


    <div class="wrap-contact ger">

      <div>
      <a class="kontakt-detail" href="mailto:lukasz.adms@gmail.com" target="_top">lukasz.adms@gmail.com</a>
       </div>

    <div>
   <a class="kontakt-detail" href="tel:017645839398">0176 458 39 398</a>
    </div>

   </div>


    <p class="text">Du kannst mir eine Mail schreiben, mir eine WhatsApp <strong class="vnlyellow">Nachricht schicken</strong>, anrufen oder das Kontaktformular nutzen. Ich melde mich umgehend mit den wichtigsten Infos bei dir zurück. Jede Anfrage, egal welcher Art, ist natürlich zu <strong class="vnlyellow">100 % unverbindlich, vertraulich und kostenlos.</strong>
        </p>



    <h2 class="title faq">Öffnungszeiten</h2>
    <p class="text">Ich arbeite als <strong class="vnlyellow">Service Area Business</strong> und bin zwischen 8:00 und 22:00 Uhr erreichbar.</p>


    <h2 class="title faq">Service Business Area</h2>

     <p class="text">Meine Service Area liegt im gesamten Rhein-Main-Gebiet. Du kannst mich im Umkreis Wiesbaden, Mainz oder Frankfurt am Main gerne zu einem persönlichen Gespräch treffen. Darüber hinaus arbeite ich natürlich auch gerne bundesweit mit meinen Kunden zusammen.</p>

    <img id="wiesbaden" src="/img/wiesbaden.jpg" alt="wiesbaden" width="400px">

    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1311276.5825129722!2d8.255445!3d50.0659309!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa2465e7f875a6349!2svnllab.com+Web+Design+%26+SEO!5e0!3m2!1sen!2sde!4v1505237551755" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

</section>



{% include footer.html %}
