---
# this is an empty front matter
---

<!DOCTYPE html>
<html lang="de">
<head>

<title>Über uns</title>


{% include header.html %}

{% include nav.html %}




<section id="hero">
<div class="wrapper">

<h1>Über mich</h1>

<p>Mein Name ist Lukasz Adam. Ich komme aus Wiesbaden, schloss dort an der Hochschule RheinMain meinen Bachelor of Science ab
  und heute desgine und erstelle ich Webseiten. Daneben kümmere ich mich um das SEO Marketing.

  Ich liebe es neue Sprachen zu lernen, ich reise gerne und ich lerne gerne neue Menschen kennen.
  Ebenfalls liebe ich es an neuen Projekten zu arbeiten, wenn du also nach einem Partner suchst, schreib mir eine E-Mail
  und ich melde mich umgehend bei dir zurück.

  Das SEO Marketing gehört zu meinen absolute Hobbies und ich hoffe ich kann in meinem Blog mehr Menschen
  dafür begeistern.


</p>

</div>
</section>




<section id="area5">
  <div class="wrapper">

<h3>Schreib mir zum Thema <strong class="purple">Webdesign,</strong> <strong class="yellow">SEO Marketing</strong> oder <strong class="green">WordPress.</strong> Alle Anfragen sind kostenlos & unverbindlich.</h3>

<a class="nachricht-button" href="http://vnllab.com/kontakt/">zum Kontaktformular</a>

  </div>
</section>





















{% include footer.html %}
