---
# this is an empty front matter
---

<!DOCTYPE html>
<html lang="de">
<head>

<title>Über uns - SEO Wiesbaden Internetagentur | vnllab.com</title>





   <!-- styles.css Link -->
   <link rel="stylesheet" href="/style.css">

   <!-- font Link -->
   <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,700" rel="stylesheet">

   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

   <!-- charset -->
   <meta charset="UTF-8">

   <!-- Responsive Shizz -->
   <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0">

   <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
 <link rel="icon" href="/favicon.ico" type="image/x-icon">
 
<script type="application/ld+json">
{
"@context":"http://schema.org",
"@type":"AboutPage",
"url":"https://vnllab.com/ueber-uns",
"name":"Über uns - SEO Wiesbaden Internetagentur | vnllab.com",
"mentions":[
"https://vnllab.com/ueber-uns",
{
"@type":"creativework",
"name":"SEO Wiesbaden vnllab"}],
"about":{
"@type":"LocalBusiness",
"sameAs":["https://twitter.com/vnllab",
"https://www.facebook.com/vnllab/"],
"url":"https://vnllab.com",
"logo":"https://vnllab.com/img/logo.svg",
"name":"vnllab",
"@id":"https://vnllab.com"},
"@id":"https://vnllab.com/ueber-uns"}

</script> 


</head>
<body itemscope itemtype="http://schema.org/WebPage">


{% include nav.html %}




<section id="hero">
<div class="wrapper">

<h1>Über mich</h1>

<img src="/img/foto-von-mir.jpg" alt="ein-foto-von-mir">

<p class="text">Mein Name ist Lukasz Adam. 
  Ich komme aus Wiesbaden und schloss dort an der <a href="https://www.hs-rm.de/de/">Hochschule RheinMain</a> meinen Bachelor of Science ab.
  Heute desgine und erstelle ich Webseiten. Daneben kümmere ich mich um das SEO Marketing. Mit meiner Online Marketing Agentur, möchte
  ich anderen dabei helfen, die eigene Webseite für Googles Ergebnisse zu optimieren.

  Ich liebe es neue Sprachen zu lernen, ich reise gerne und ich lerne gerne neue Menschen kennen.
  Ebenfalls liebe ich es an neuen Projekten zu arbeiten, wenn du also nach einem Partner suchst, schreib mir eine E-Mail
  und ich melde mich umgehend bei dir zurück.

  Das SEO Marketing gehört zu meinen absolute Hobbies und ich hoffe ich kann in meinem Blog mehr Menschen
  dafür begeistern.
</p>

</div>
</section>




<section id="area5">
  <div class="wrapper">

<h3>Schreib mir zum Thema <strong class="purple">Webdesign,</strong> <strong class="yellow">SEO Marketing</strong> oder <strong class="green">WordPress.</strong> Alle Anfragen sind kostenlos & unverbindlich.</h3>

<a class="nachricht-button" href="http://vnllab.com/kontakt/">zum Kontaktformular</a>

  </div>
</section>





















{% include footer.html %}
