


   <!-- styles.css Link -->
    <link rel="stylesheet" href="/style.css">

    <!-- font Link -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

    <!-- charset -->
    <meta charset="UTF-8">

    <!-- Responsive Shizz -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">

  <script type='application/ld+json'>
 {
   "@context": "http://www.schema.org",
   "@type": "ProfessionalService",
   "telephone": "+49 (176) 45839398",
   "priceRange": "$$",
   "name": "vnllab",
   "url": "https://vnllab.com/",
   "logo": "https://vnllab.com/img/logo.svg",
   "image": "https://vnllab.com/img/wiesbaden.jpg",
   "description": "Hi, ich bin Lukasz Adam und das ist meine Website vnllab.com. 
   Mein Job ist die Suchmaschinenoptimierung. Ich helfe dabei, dass ihr in Wiesbadens Nachbarschaft gefunden werdet.",
   "address": {
     "@type": "PostalAddress",
     "streetAddress": "Hasengartenstr. 9b",
     "addressLocality": "Wiesbaden",
     "addressRegion": "Hessen",
     "postalCode": "65189",
     "addressCountry": "Germany"
   },
   "hasMap": "https://goo.gl/maps/XNUv1aajiLG2",
   "openingHours": "Mo, Tu, We, Th, Fr 00:08-22:00",
   "contactPoint": {
     "@type": "ContactPoint",
     "contactType": "Sales",
     "telephone": "+49 (176) 45839398",
     "sameAs": [
     "https://www.facebook.com/vnllab/",
     "https://twitter.com/vnllab",
     "https://www.youtube.com/channel/UCjBunwfTrVuXJXPMLVTzD_w",
     ]
   },
}
</script>


</head>
<body itemscope itemtype="http://schema.org/WebPage">
