


   <!-- styles.css Link -->
    <link rel="stylesheet" href="/style.css">

    <!-- font Link -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

    <!-- charset -->
    <meta charset="UTF-8">

    <!-- Responsive Shizz -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  
<!-- Markup (JSON-LD) structured in schema.org ver.4.4.0 START -->
<script type="application/ld+json">
{
"@context": "http://schema.org",
"@type": "Organization",
"name": "vnlab",
"url": "https://vnllab.com/",
"logo": "https://vnllab.com/img/logo.svg",
"hasMap": "https://goo.gl/maps/XNUv1aajiLG2",
"openingHours": "Mo, Tu, We, Th, Fr 00:08-22:00",
"contactPoint": [
{
"@type": "ContactPoint",
"telephone": "+49 (176) 45839398",
"contactType": "customer service",
"email": "lukasz.adms@gmail.com",
"areaServed": [
"Wiesbaden"
],
"availableLanguage": [
"Germany"
]
}
],
"sameAs": [
"https://www.facebook.com/vnllab/",
"https://twitter.com/vnllab",
"https://www.youtube.com/channel/UCjBunwfTrVuXJXPMLVTzD_w"
]
}
</script>
<!-- Markup (JSON-LD) structured in schema.org END -->


</head>
<body itemscope itemtype="http://schema.org/WebPage">
