<nav id="menu" itemscope itemtype="https://schema.org/SiteNavigationElement">

    <a href="/"><img src="/img/logo.svg" alt="logo-der-website" width="50px"></a>

  <div class="menu-icon" onclick="myFunction()">
  <span></span>
  </div>

  <ul id="ulliste">
    <a href="/">Home</a>
    <div class="dropdown">
      <a class="dropbtn" href="/service">Service</a>

      <div class="dropdown-content">
          <a href="https://vnllab.com/service/local-seo-wiesbaden">Local SEO</a>
          <a href="https://vnllab.com/service/google-werbung-wiesbaden">AdWords Marketing</a>
          <a href="https://vnllab.com/service/social-media-marketing">Social Media</a>
          <a href="https://vnllab.com/service/webdesign-wiesbaden">Webdesign</a>
          <a href="https://vnllab.com/service/webentwicklung-wiesbaden">Webentwicklung</a>
          <a href="https://vnllab.com/service/wordpress-wiesbaden">WordPress</a>
      </div>


    </div>
    <a href="/blog">Blog</a>
    <a href="/kontakt">Kontakt</a>

  </ul>

</nav>
