<nav id="menu" itemscope itemtype="https://schema.org/SiteNavigationElement">

    <a href="/"><img src="/img/logo.svg" width="50px"></a>

  <div class="menu-icon" onclick="myFunction()">
  <span></span>
  </div>

  <ul id="ulliste">
    <a href="/">Home</a>
    <div class="dropdown">
      <a class="dropbtn" href="/service">Service</a>

      <div class="dropdown-content">
        <a href="webdesign-wiesbaden">Webdesign</a>
        <a href="webentwicklung-wiesbaden">Webentwicklung</a>
        <a href="seo-wiesbaden">SEO</a>
        <a href="wordpress-wiesbaden">WordPress</a>
      </div>


    </div>
    <a href="/blog">Blog</a>
    <a href="/kontakt">Kontakt</a>

  </ul>

</nav>
