---
# this is an empty front matter
---

<!DOCTYPE html>
<html lang="de">
<head>

<title>Impressum</title>


{% include header.html %}



{% include nav.html %}


<section id="area4">

<div class="wrapper">

<h2 class="title">Mein Service im Überblick</h2>

<div class="service_wrapper">

  <div class="service">
    <a href="service/webentwicklung-wiesbaden"><h2 class="title-ser">Webentwicklung</h2></a>
    <p class="text-ser">
Bei meiner Webentwicklung, programmiere ich mit den saubersten, effektivsten und modernsten Methoden. Ich arbeite nicht mit vorgefertigen Codes. Ich schreibe mein Markup mit HTML5 & CSS3 und programmiere meine Codes mit JS6 sowie der serverseitigen Programmiersprache PHP.
<br>
<a class="service-more" href="https://vnllab.com/webentwicklung/">zur Webentwicklung</a>

    </p>
  </div>


  <div class="service">
    <a href="service/webdesign-wiesbaden"><h2 class="title-ser">Webdesign</h2></a>
    <p class="text-ser">
Ich nutze ebenfalls die neusten & effektivsten Methoden um Webseiten zu gestalten und zu designen. Damit wird eine Homepage nicht nur modern sondern auch günstig. Neben Preis-Specials für Schulen und Vereine, biete ich die Moeglichkeit der Erstellung verschiedener Benutzeroberflaechen (inkl. Flat & Material Design) an.
<br>
<a class="service-more" href="/index.php?page_id=11">zum Webdesign</a>

    </p>
  </div>


  <div class="service">
    <a href="service/seo-wiesbaden"><h2 class="title-ser">Suchmaschinenoptimierung</h2></a>
    <p class="text-ser">
      Jeder Webmaster sollte früher oder spaeter anfangen, Suchmaschinenoptimierung zu betreiben. Sonst verschenkt man wertvollen Online-Traffic. Nutz dafür meine SEO Audits, buch meinen SEO Service oder lerne etwas in meinem bekannten<a href="http://vnllab.com/blog/"> SEO Blog</a>.
      <br>
      <a class="service-more" href="/index.php?page_id=13">mehr SEO</a>
    </p>
  </div>

  <div class="service">
    <a href="service/wordpress-wiesbaden"><h2 class="title-ser">Wordpress Webentwicklung</h2></a>
    <p class="text-ser">
WordPress ist eines der beliebtesten Content Management Systeme weltweit. Deshalb nutze ich es für die Mehrheit meiner Projekte. Mein WordPress Service geht über die einfache Installation von Plugins hinaus. Ich passe Wordpress exakt an Deine Wünsche an.
<br>
<a class="service-more" href="https://vnllab.com/wordpress/">WordPress</a>

    </p>
  </div>

</div><!--service_wrapper-->
</div><!--wrapper-->
</section>





{% include footer.html %}
