---
# this is an empty front matter
---

<!DOCTYPE html>
<html lang="de">
<head>

<title>Webdesign in Wiesbaden | SEO Webdesign - vnllab.com</title>


{% include header.html %}



{% include nav.html %}






<section id="hero-null">

	<p class="description">PROFESSIONELL & schnell.</p>
	<h1>Webdesign Wiesbaden</h1>
	<a href="/kontakt"><button>kostenlose Anfrage</button></a>

</section>


<section id="area-two">

	<div id="specialw" class="wrapper-left">
		<img title="webdesign-wiesbaden" src="/img/webseiten.png" alt="webseiten-von-webdesign-wiesbaden">
	</div>


	<div class="wrapper-right">
		<h2>Gestaltung & Entwicklung</h2>
		<p class="text">Schluss mit überteuerten Webseiten. Die Webdesign Branche hat sich in den letzten Jahren extrem gewandelt. Technologien wie Bootstrap, SASS oder das <a href="https://de.wikipedia.org/wiki/Flat_Design">Flat Design</a>, haben die Entwicklung einer Website extrem vereinfacht. Mit den neusten Methoden erstelle ich für dich <strong class="vnlyellow">moderne Webseiten</strong> mit einer angenehmen Navigation, einem sauberen Layout und vor allem - einer guten <strong class="vnlyellow">User Experience</strong>. Mit meiner <a href="/service/webentwicklung-wiesbaden">Webentwicklung</a> kümmere ich mich ebenfalls um die Codes.
		<br><br>
		Es spielt keine Rolle ob du in Wiesbaden, Frankfurt oder in Hanau wohnst. Ich arbeite bundesweit von der hessischen Landeshauptstadt aus mit dir zusammen. Die neusten Webdesign Trends 2018 warten auf dich.</p>

	</div>

</section>






<section id="area-three">

	<div class="wrapper-left">


		<h2>Webseiten ohne monatliche Kosten</h2>
		<p class="text">Ich arbeite ohne monatliche Kosten und erstellen jede Homepage zum Festpreis. Daneben biete ich für all meine Kunden, die Erstellung eines <strong class="vnlyellow">kostenlosen GitHub Kontos</strong> an. Zusammen mit diesem Konto hast du die Möglichkeit, deine Website ohne monatliche Kosten auf dem GitHub Server zu parken. Damit würden auch alle monatlichen <a href="https://de.wikipedia.org/wiki/Webhosting">Hostingkosten</a> für dich entfallen und der GitHub Server gehört zu den <strong class="vnlyellow">sichersten und stabilsten</strong> der Welt. Premiumhosting zum Nulltarif.</p>

	</div>


	<div class="wrapper-right">

		<img src="/img/portemonnaie.svg" alt="portemonnaie-illustration" width="100px">

	</div>

</section>







<section id="area-two">

	<div class="wrapper-left">
	    <img src="/img/wiesbaden.jpg" title="kurhaus-in-wiesbaden" alt="kurhaus-wiesbaden" width="720px">
	</div>


	<div class="wrapper-right">
		<h2>Das Rhein-Main-Gebiet als Service-Area</h2>
		<p class="text">Wiesbaden ist die <strong class="vnlyellow">Landeshauptstadt Hessens</strong> und mit dem berühmten Kurhaus, dem gemütlichen <a href="https://de.wikipedia.org/wiki/Schlossplatz_(Wiesbaden)">Schloßplatz</a> und der Nähe, zu der internationalen "Mainhattan" Metropole Frankfurt am Main, ist es ein perfekter Knotenpunkt für internationale Zusammenarbeit.
		<br><br>
		Normalerweise, arbeite ich mit meinen Kunden bundesweit und zeitzonenübergreifend online zusammen. Für das Rhein-Main-Gebiet, also die Städte <strong class="vnlyellow">Wiesbaden, Frankfurt & Mainz</strong>, biete ich darüber hinaus eine Service Area an.
		<br><br>
		Für diesen Umkreis hast du die Möglichkeit, mich vor Ort persönlich zu treffen. Ich setze mir zwar keine Grenzen, wenn es um nationale und internationale Zusammenarbeit geht, freue mich aber trotzdem darauf, dich persönlich kennenzulernen.</p>

	</div>

</section>






<section id="area-three">

	<div class="wrapper-left">


	<h2>Responsive Webdesign</h2>
		<p class="text">Responsive Webdesign ist, als würde man drei verschiedene Versionen einer Internetseite erstellen. Eine Smartphone-, Tablet- und Desktop-Version. Mobile Webseiten funktionieren wie Apps nur ohne lästige App Store Updates. Responsive Web Design gehört zu den wichtigsten SEO Marketing Faktoren, um welchen ich mich auch bei meiner <a href="/service/seo-wiesbaden">Suchmaschinenoptimierung aus Wiesbaden</a> kümmere.
		<br><br>
		Wenn Internetseiten nicht <strong class="vnlyellow">Smartphone-Optimiert</strong> sind, bedeutet das einen Verlust an Traffic. Die User die trotzdem auf der Homepage bleiben, haben es mit vielen Schwierigkeiten zu tun. Die Konsequenz ist, die Conversion Rate wird verringert (Abschlussquote). Gutes Responsive Design sollte deshalb folgende Dinge enthalten:
    		<br><br>
    		Informationen in der richtigen Reihenfolge,
    		<strong class="vnlyellow">angepasste Bilder optimiert an verschiedene Viewports,</strong>
    		leichte Navigation,
    		<strong class="vnlyellow">E-Commerce Funktionalität,</strong>
    		eine hervorragende User Experience,
    		<strong class="vnlyellow">optimierte User-Icons in der richtigen Größe.</strong>

		</p>
	</div>


	<div class="wrapper-right">

		<img src="/img/responsive.png" alt="responsive-design-illustration" width="250px">

	</div>

</section>












<section id="referenzen">

	<h2>Referenzen</h2>


	<div class="wrapper"><!--wrapper start-->

	<div class="picture">
		<img title="webdesign-referenz-1" src="/img/webdesign-referenz-1.jpg" alt="webdesign-referenzen-beispiel-1">
	</div>

	<div class="picture">
		<img title="webdesign-referenz-2" src="/img/webdesign-referenz-2.jpg" alt="webdesign-referenzen-beispiel-3">
	</div>

	</div><!--wrapper-->



	<div class="wrapper"> <!--wrapper start-->

	<div class="picture">
		<img title="webdesign-referenz-3" src="/img/webdesign-referenz-3.jpg" alt="webdesign-referenzen-beispiel-3">
	</div>

		<div class="picture">
		<img title="webdesign-referenz-4" src="/img/webdesign-referenz-4.jpg" alt="webdesign-referenzen-beispiel-4">
	</div>

	</div><!--wrapper-->




</section>
















<section id="area5">
  <div class="wrapper">

<h3>Schreib mir zum Thema <strong class="purple">Webdesign,</strong> <strong class="yellow">SEO Marketing</strong> oder <strong class="green">WordPress.</strong> Alle Anfragen sind kostenlos & unverbindlich.</h3>

<a class="nachricht-button" href="/kontakt">zum Kontaktformular</a>

  </div>
</section>




{% include footer.html %}
