---
# this is an empty front matter
---

<!DOCTYPE html>
<html lang="de">
<head>

<title>{{ page.title }}</title>

{% include header.html %}

{% include nav.html %}



<div class="post-div-rechts-content">

	<header class="entry-header">




<div class="post-details-content">

	<div id="time-content">

<div class="div">
		<i class="fas fa-user"></i>
			<span itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person"> <span itemprop="name"> {{ page.author }}</span> </span>
</div>

<div class="div">
		 <i class="fas fa-clock"></i>
			<time datetime="{{ page.time }}" itemprop="datePublished" title="{{ page.time }}">{{ page.time }}</time>
</div>

	<div class="div">
			<i class="fas fa-folder-open"></i>
			<span>{{ page.categories }}</span>
</div>


</div>



</div> <!-- post-details -->

</header><!-- .entry-header -->


<div class="post-body">
	{{ content }}
</div>

</div>




</div>


{% include footer.html %}
